.profile-image {
    width: 250px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50; /* Opcional: hace que la imagen sea circular */
  }
  