<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-card>

  <ion-card-header>
    <ion-card-title>Ariel Manuel naranjo </ion-card-title>
    <ion-card-subtitle>hola</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
  This app is about a calculator, a table, a translator and a page about me.
  </ion-card-content>
  <img class="profile-image"  alt="me" src="/assets/Formal2.png" />
</ion-card>
</ion-content>
